.listItem:not(:last-child) {
    margin-bottom: 5px;
}

.contactName {
    font-weight: 700;
    margin-right: 16px;
}

.button {
    display: inline-block;
    width: 80px;
    cursor: pointer;
    padding: 2px;
    border: 1px solid black;
    border-radius: 3px;
    background-color: rgb(240, 228, 228);
    margin-left: 16px;
}

.button:hover,
.button:focus {
    background-color: blue;
    color: white;
    border: none;
}